# System files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Thumbs.db
ehthumbs.db
Desktop.ini

# Editor folders
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs
*.log

# Temp files
*.tmp
*.temp
